In [2]:
import pandas as pd

df = pd.read_csv("customer_shopping_behavior.csv")
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [5]:
df.describe(include="all")

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [6]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [7]:
df["Review Rating"] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [8]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [13]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')
df = df.rename(columns={'purchase_amount_(usd)': 'purchase_amount'})

In [14]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [16]:
# create new columns

labels = ["Young Adult", "Adult","Middle-age", "Senior"]
df["age_group"] = pd.qcut(df["age"], q=4, labels=labels)

In [17]:
df[['age', 'age_group']].head()

   age    age_group
0   55   Middle-age
1   19  Young Adult
2   50   Middle-age
3   21  Young Adult
4   45   Middle-age

In [19]:
# purchase frequency by day

frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Anually': 365,
    'Every 3 Months': 90
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [21]:
df[['purchase_frequency_days','frequency_of_purchases']].head()

   purchase_frequency_days frequency_of_purchases
0                     14.0            Fortnightly
1                     14.0            Fortnightly
2                      7.0                 Weekly
3                      7.0                 Weekly
4                      NaN               Annually

In [22]:
df.isnull().sum()

customer_id                  0
age                          0
gender                       0
item_purchased               0
category                     0
purchase_amount              0
location                     0
size                         0
color                        0
season                       0
review_rating                0
subscription_status          0
shipping_type                0
discount_applied             0
promo_code_used              0
previous_purchases           0
payment_method               0
frequency_of_purchases       0
age_group                    0
purchase_frequency_days    572
dtype: int64

In [23]:
drop_columns = ["purchase_frequency_days","frequency_of_purchases"]

In [24]:
# purchase frequency by day

frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Anually': 365,
    'Every 3 Months': 90
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [25]:
df.isnull().sum()

customer_id                  0
age                          0
gender                       0
item_purchased               0
category                     0
purchase_amount              0
location                     0
size                         0
color                        0
season                       0
review_rating                0
subscription_status          0
shipping_type                0
discount_applied             0
promo_code_used              0
previous_purchases           0
payment_method               0
frequency_of_purchases       0
age_group                    0
purchase_frequency_days    572
dtype: int64

In [27]:
df[['discount_applied', 'promo_code_used']].head()

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes

In [30]:
(df['discount_applied'] == df['promo_code_used']).all()

np.True_

In [31]:
df = df.drop('promo_code_used', axis=1)

In [32]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [33]:
pip install psycopg2-binary sqlalchemy

Collecting psycopg2-binary
  Obtaining dependency information for psycopg2-binary from https://files.pythonhosted.org/packages/b1/d2/99b55e85832ccde77b211738ff3925a5d73ad183c0b37bcbbe5a8ff04978/psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl.metadata
  Downloading psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl.metadata (5.1 kB)
Collecting sqlalchemy
  Obtaining dependency information for sqlalchemy from https://files.pythonhosted.org/packages/25/83/24690e9dfc241e6ab062df82cc0df7f4231c79ba98b273fa496fb3dd78ed/sqlalchemy-2.0.44-cp312-cp312-win_amd64.whl.metadata
  Downloading sqlalchemy-2.0.44-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Obtaining dependency information for greenlet>=1 from https://files.pythonhosted.org/packages/e9/08/b0814846b79399e585f974bbeebf5580fbe59e258ea7be64d9dfb253c84f/greenlet-3.2.4-cp312-cp312-win_amd64.whl.metadata
  Downloading greenlet-3.2.4-cp312-cp312-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.15.0)
Downloading psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
    --------------------------------------- 0.0/2.7 MB 245.8 kB/s eta 0:00:11
    --------------------------------------- 0.0/2.7 MB 245.8 kB/s eta 0:00:11
   - -------------------------------------- 0.1/2.7 MB 554.9 kB/s eta 0:00:05
   - -------------------------------------- 0.1/2.7 MB 554.9 kB/s eta 0:00:05
   - -------------------------------------- 0.1/2.7 MB 554.9 kB/s eta 0:00:05
   - -------------------------------------- 0.1/2.7 MB 554.9 kB/s eta 0:00:05
   - -------------------------------------- 0.1/2.7 MB 554.9 kB/s eta 0:00:05
   --- ------------------------------------ 0.2/2.7 MB 514.3 kB/s eta 0:00:05
   --- ------------------------------------ 0.2/2.7 MB 514.3 kB/s eta 0:00:05
   ----- ---------------------------------- 0.4/2.7 MB 655.7 kB/s eta 0:00:04
   ----- ---------------------------------- 0.4/2.7 MB 655.7 kB/s eta 0:00:04
   ------ --------------------------------- 0.4/2.7 MB 688.1 kB/s eta 0:00:04
   ------- -------------------------------- 0.5/2.7 MB 734.9 kB/s eta 0:00:04
   --------- ------------------------------ 0.6/2.7 MB 883.0 kB/s eta 0:00:03
   --------- ------------------------------ 0.7/2.7 MB 892.9 kB/s eta 0:00:03
   ---------- ----------------------------- 0.7/2.7 MB 881.7 kB/s eta 0:00:03
   ----------- ---------------------------- 0.8/2.7 MB 964.6 kB/s eta 0:00:02
   ------------ --------------------------- 0.9/2.7 MB 938.1 kB/s eta 0:00:02
   ------------- -------------------------- 0.9/2.7 MB 982.5 kB/s eta 0:00:02
   ------------- -------------------------- 0.9/2.7 MB 982.5 kB/s eta 0:00:02
   -------------- ------------------------- 1.0/2.7 MB 973.3 kB/s eta 0:00:02
   --------------- ------------------------ 1.1/2.7 MB 982.6 kB/s eta 0:00:02
   ----------------- ---------------------- 1.2/2.7 MB 1.1 MB/s eta 0:00:02
   ----------------- ---------------------- 1.2/2.7 MB 1.0 MB/s eta 0:00:02
   -------------------- ------------------- 1.4/2.7 MB 1.1 MB/s eta 0:00:02
   -------------------- ------------------- 1.4/2.7 MB 1.1 MB/s eta 0:00:02
   -------------------- ------------------- 1.4/2.7 MB 1.1 MB/s eta 0:00:02
   ---------------------- ----------------- 1.5/2.7 MB 1.1 MB/s eta 0:00:02
   ---------------------- ----------------- 1.5/2.7 MB 1.1 MB/s eta 0:00:02
   ----------------------- ---------------- 1.6/2.7 MB 1.1 MB/s eta 0:00:02
   ----------------------- ---------------- 1.6/2.7 MB 1.1 MB/s eta 0:00:01
   -------------------------- ------------- 1.8/2.7 MB 1.2 MB/s eta 0:00:01
   -------------------------- ------------- 1.8/2.7 MB 1.1 MB/s eta 0:00:01
   ----------------------------- ---------- 2.0/2.7 MB 1.2 MB/s eta 0:00:01
   ----------------------------- ---------- 2.0/2.7 MB 1.2 MB/s eta 0:00:01
   ------------------------------ --------- 2.0/2.7 MB 1.2 MB/s eta 0:00:01
   ------------------------------- -------- 2.1/2.7 MB 1.2 MB/s eta 0:00:01
   -------------------------------- ------- 2.2/2.7 MB 1.2 MB/s eta 0:00:01
   --------------------------------- ------ 2.2/2.7 MB 1.2 MB/s eta 0:00:01
   --------------------------------- ------ 2.3/2.7 MB 1.2 MB/s eta 0:00:01
   --------------------------------- ------ 2.3/2.7 MB 1.2 MB/s eta 0:00:01
   --------------------------------- ------ 2.3/2.7 MB 1.2 MB/s eta 0:00:01
   --------------------------------- ------ 2.3/2.7 MB 1.2 MB/s eta 0:00:01
   ------------------------------------ --- 2.5/2.7 MB 1.2 MB/s eta 0:00:01
   ------------------------------------ --- 2.5/2.7 MB 1.2 MB/s eta 0:00:01
   ------------------------------------ --- 2.5/2.7 MB 1.2 MB/s eta 0:00:01
   ------------------------------------ --- 2.5/2.7 MB 1.1 MB/s eta 0:00:01
   ------------------------------------- -- 2.5/2.7 MB 1.1 MB/s eta 0:00:01
   ------------------------------------- -- 2.5/2.7 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  2.7/2.7 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 1.1 MB/s eta 0:00:00
Downloading sqlalchemy-2.0.44-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB 2.0 MB/s eta 0:00:02
    --------------------------------------- 0.0/2.1 MB 2.0 MB/s eta 0:00:02
   - -------------------------------------- 0.1/2.1 MB 737.3 kB/s eta 0:00:03
   - -------------------------------------- 0.1/2.1 MB 737.3 kB/s eta 0:00:03
   - -------------------------------------- 0.1/2.1 MB 737.3 kB/s eta 0:00:03
   ---- ----------------------------------- 0.2/2.1 MB 850.1 kB/s eta 0:00:03
   ---- ----------------------------------- 0.3/2.1 MB 749.3 kB/s eta 0:00:03
   ----- ---------------------------------- 0.3/2.1 MB 905.4 kB/s eta 0:00:03
   -------- ------------------------------- 0.5/2.1 MB 1.0 MB/s eta 0:00:02
   -------- ------------------------------- 0.5/2.1 MB 1.0 MB/s eta 0:00:02
   --------- ------------------------------ 0.5/2.1 MB 974.3 kB/s eta 0:00:02
   ----------- ---------------------------- 0.6/2.1 MB 1.2 MB/s eta 0:00:02
   ------------ --------------------------- 0.7/2.1 MB 1.1 MB/s eta 0:00:02
   --------------- ------------------------ 0.8/2.1 MB 1.3 MB/s eta 0:00:01
   --------------- ------------------------ 0.8/2.1 MB 1.3 MB/s eta 0:00:01
   ------------------ --------------------- 1.0/2.1 MB 1.4 MB/s eta 0:00:01
   ------------------ --------------------- 1.0/2.1 MB 1.4 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 1.3 MB/s eta 0:00:01
   -------------------- ------------------- 1.1/2.1 MB 1.3 MB/s eta 0:00:01
   -------------------- ------------------- 1.1/2.1 MB 1.3 MB/s eta 0:00:01
   ----------------------- ---------------- 1.2/2.1 MB 1.3 MB/s eta 0:00:01
   ----------------------- ---------------- 1.2/2.1 MB 1.3 MB/s eta 0:00:01
   -------------------------- ------------- 1.4/2.1 MB 1.3 MB/s eta 0:00:01
   -------------------------- ------------- 1.4/2.1 MB 1.3 MB/s eta 0:00:01
   ---------------------------- ----------- 1.5/2.1 MB 1.3 MB/s eta 0:00:01
   ---------------------------- ----------- 1.5/2.1 MB 1.3 MB/s eta 0:00:01
   ------------------------------- -------- 1.7/2.1 MB 1.4 MB/s eta 0:00:01
   ------------------------------- -------- 1.7/2.1 MB 1.4 MB/s eta 0:00:01
   --------------------------------- ------ 1.8/2.1 MB 1.3 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 1.3 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 1.3 MB/s eta 0:00:01
   ----------------------------------- ---- 1.9/2.1 MB 1.3 MB/s eta 0:00:01
   ----------------------------------- ---- 1.9/2.1 MB 1.3 MB/s eta 0:00:01
   -------------------------------------- - 2.0/2.1 MB 1.3 MB/s eta 0:00:01
   -------------------------------------- - 2.0/2.1 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 1.3 MB/s eta 0:00:00
Downloading greenlet-3.2.4-cp312-cp312-win_amd64.whl (299 kB)
   ---------------------------------------- 0.0/299.9 kB ? eta -:--:--
   ------------------------- -------------- 194.6/299.9 kB 5.9 MB/s eta 0:00:01
   ------------------------------------ --- 276.5/299.9 kB 2.8 MB/s eta 0:00:01
   ---------------------------------------- 299.9/299.9 kB 2.7 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary, greenlet, sqlalchemy
Successfully installed greenlet-3.2.4 psycopg2-binary-2.9.11 sqlalchemy-2.0.44
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
from sqlalchemy import create_engine

username="postgres"
password="Roger733910"
port="5432"
database="customer_behavior"

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@localhost:{port}/{database}")

table_name = "customer"
df.to_sql(table_name, engine, if_exists='replace', index=False) 

print(f"DataFrame uploaded to table '{table_name}' in database '{database}' successfully.")

DataFrame uploaded to table 'customer' in database 'customer_behavior' successfully.